# files
*.log
.dockerignore
**/.DS_Store
.env
.gcloudignore
.git
.gitignore
fastapi_sound_recommender.db
fastapi_sound_recommender_test.db

# directories
__pycache__/
.idea/
.pytest_cache/
.vscode/
venv/
